@using MyBookstore.Models;
@model MyBookstore.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@{
    Layout = "~/Views/Layout.cshtml";
}


<h2>Registration Form</h2>
<h4>New User</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div>
            @if (Model.SuccessfullyCreated)
            {
                <h3>Successfully created!</h3>
            }
            @foreach (var message in Model.Messages)
            {
                <div style="color:green;font-weight:bold;">@message.Text</div>
            }

            @foreach (var error in Model.Errors)
            {
                <div style="color:red;font-weight:bold;">@error.Text</div>
            }
            <hr />
            @Html.ValidationSummary(false)

            <div>
                Your Email
                <div>
                    @Html.EditorFor(model => model.Email)
                </div>
            </div>

            <div>
                Your Name
                <div>
                    @Html.EditorFor(model => model.Name)
                </div>
            </div>

            <div>
                Your Surname
                <div>
                    @Html.EditorFor(model => model.Surname)
                </div>
            </div>


            <div>
                Password
                <div>
                    @Html.EditorFor(model => model.Password)
                </div>
            </div>

            <div>
                Confirm Password
                <div>
                    @Html.EditorFor(model => model.PasswordConfirm)
                </div>
            </div>

            <br />
            <div>
                <div>
                    <input type="submit" value="Register" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index" href="/Home/Index">Back to Main Page</a>
</div>
