@using MyBookstore.Models;
@model MyBookstore.Models.UserViewModel;


@{

    Layout = "~/Views/Layout.cshtml";
}

<link href="~/fancybox-master/dist/jquery.fancybox.min.css" rel="stylesheet">
<script src="~/fancybox-master/dist/jquery.fancybox.min.js"></script>

<div>
    <h2>User Information</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
</div>